body {
  font-family: Verdana;
  margin: 0;
  background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
}
h1,
h3 {
  text-align: center;
}
#btnContainer {
  text-align: center;
}
.iconBlock{
  border-radius: 5px;
}
.container {
  margin: 15px 0;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 5px;
  box-shadow: 5px 5px 56px 0px rgba(0, 0, 0, 0.5);
  margin-bottom: 40px;
}
.iconContainer {
  background-color: rgb(255, 255, 255);
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 15px;
  border-right: 2px solid black;
  border-radius: 5px  0px 0px 5px;
}
.paragraphContainer {
  padding-left: 2%;
}
.iconContainer1 {
  margin-top: 50%;
  margin-bottom: 50%;
}
#createBtn {
  background: -webkit-linear-gradient(
    right,
    #56d8e4,
    #9f01ea,
    #56d8e4,
    #9f01ea
  );
  transition: all 0.4s;
  border-radius: 5px;
  width: 200px;
  height: 70px;
  font-size: large;
  font-weight: bold;
  transition: width 0.5s, height 0.5s;
  color: white;
}
#createBtn:hover {
  width: 220px;
  height: 80px;
}
.icons {
  width: 80px;
}
a {
  text-decoration: none;
  color: black;
}
.container {
  cursor: pointer;
}
ul {
  list-style: none;
}
.homeNaveLinks {
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  justify-content: space-around;
  margin: 0%;
  padding: 10px;
  
}
.aboutUs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}
.aboutTextImg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  border: 2px solid black;
  padding: 10px;
  margin: 0 auto; /* Center the container */
  border-radius: 5px; /* Add rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
  background-color: #fff; /* Add background color */
}
.aboutText{
  margin: 30px;
}
.aboutImg {
  flex: 1;
  text-align: center;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
}
h2{
  text-align: center;
}
.cvExemple {
  width: 300px;
}

@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');



.btncontainer {
  /* background-color: #fff; */
   width: 100%; 
  height: 50px; 

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  

}

.center {
  width: 180px;
  height: 60px;
  position: absolute;
}

.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
  border: 1px solid #91C9FF;
  outline: none;
  transition: 2s ease-in-out;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #ffffff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn:hover {
  transition: 2s ease-in-out;
  background: linear-gradient(115deg,#9f01ea 10%,#56d8e4 90%);
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}
.globalCntainer{
  display: flex;
}
footer{
  width: 100%;
  background-color: #131314;
  color: rgb(125, 125, 125);
  text-align: center;
  padding: 2px;
  margin-top: 20px;
}
#terms{
  color:  rgb(125, 125, 125);
}
